<p>Plant data attributes.</p>
{{#markdown}}``` html
<body data-seed-typekit data-tk-id="tng8mkd">
```{{/markdown}}
<p>Get a closure with <em>seed</em> and <em>seedEach</em> methods.</p>
{{#markdown}}``` js
define(['linseed!control/typekit'], function (seeder) {
    'use strict';
    return seeder('seed-typekit').seedEach();
});
```{{/markdown}}
<p>Watch them grow (the page header has sprout<em>ed</em>).</p>